Options +FollowSymlinks

# Prevent Directoy listing
Options -Indexes

# Prevent Direct Access to files
<FilesMatch "(?i)((\.tpl|\.ini\.php|\.log|(?<!robots)\.txt))">
#Require all denied
## For apache 2.2 and older, replace "Require all denied" with these two lines :
# Order deny,allow
Deny from all
</FilesMatch>
# 
